{% extends 'PROJECTS/template.html' %}


{% block content %}





<div class="container_home">


<div class="container_left_home">

	<div class="nume">Nume: {{employee.user.username}}</div>
	<hr/>
	<div class="zona">Zona/Dep.: {{employee.Zona}} / {{employee.department}}</div>
	<hr/>

</div>




	<div class="container_right">

		<div class="row_title">
			PROIECTE 
		</div> 


		<div class="row">
			<div class="column_id">ID</div>
			<div class="column_nume">NUME</div>
			<div class="column_proiect_id">ID </div>
			<div class="column_descriere">DESCRIERE</div>
			<div class="column_evenimente"></div>
		</div>

		<hr/>

		{% for proiect in proiecte_querry%}

		<div class="row">
			<div class="column_id">{{proiect.id}} </div>
			<div class="column_nume">{{proiect.nume}}</div>
			<div class="column_proiect_id">{{proiect.id_proiect}} </div>
			<div class="column_descriere">{{proiect.descriere}} </div>
			<div class="column_evenimente"><a href="{% url 'PROJECTS:project_details' proiect.pk %}">DETALII</a></div>
		</div> 
		<hr/>

		{% endfor %}


		



		<div class="row_footer">
			<a href="{% url 'PROJECTS:new_project'  %}">Adauga Proiect</a>
		</div> 


<div class="pagination">
    <span class="step-links">
        {% if proiecte_querry.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ proiecte_querry.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ proiecte_querry.number }} of {{ proiecte_querry.paginator.num_pages }}.
        </span>

        {% if proiecte_querry.has_next %}
            <a href="?page={{ proiecte_querry.next_page_number }}">next</a>
            <a href="?page={{ proiecte_querry.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>		
	
	</div>




</div>


{% endblock %}

