{% extends 'PROJECTS/template.html' %}

{% block content %}









<div class="container_detalii">



<div class="container_left_detalii">

	<div class="nume">Proiect: {{proiect.nume}}</div>
	<hr/>
	<div class="ID">Proiect: {{proiect.id_proiect}}</div>
	<hr/>
	<div class="descriere">{{proiect.descriere}}</div>
	<hr/>

</div>




<div class="container_right_detalii">




		<div class="row_title_detalii">
			SARCINI DE EFECTUAT
		</div> 


		<div class="row_detalii">
			<div class="column_id_ev">ID</div>
			<div class="column_nume_ev">NUME</div>
			<div class="column_recurenta_zile_ev">RECURENTA </div>
			<div class="column_status_ev">STATUS</div>
			<div class="column_evenimente_ev"></div>
		</div>

		<hr/>

		{% for eveniment in eveniment_template %}

		<div class="row_detalii">
			<div class="column_id_ev">{{eveniment.id}} </div>
			<div class="column_nume_ev">{{eveniment.nume}}</div>
			<div class="column_recurenta_zile_ev">{{eveniment.recurenenta_zile}} Zile </div>

			{% if eveniment.status == True %}
			<div class="column_status_ev">Activ</div>
			{% else %}
			<div class="column_status_ev">Inactiv</div>
			{% endif %}
			<div class="column_evenimente_ev"><a href="{% url 'EVENTS:detalii_eveniment_template' eveniment.pk %}">DETALII</a></div>
		</div> 
		<hr/>

		{% endfor %}


		



		<div class="row_footer_detalii">
			<a href="{% url 'EVENTS:eveniment_template_nou' proiect.pk  %}">Adauga O Sarcina </a>
		</div> 




<div class="pagination">
    <span class="step-links">
        {% if eveniment_template.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ eveniment_template.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ eveniment_template.number }} of {{ eveniment_template.paginator.num_pages }}.
        </span>

        {% if eveniment_template.has_next %}
            <a href="?page={{ eveniment_template.next_page_number }}">next</a>
            <a href="?page={{ eveniment_template.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>		




</div>




</div>



	

{% endblock %}