
/* GENERAL SETTINGS */


body{
	background-color: #F8F8FF;
}









/* NORMAL DISPLAYS  COMPUTER*/ 


@media screen and (min-width: 800px) {



/* NAVBAR SETTINGS */

.navbar{
	height: 50px;
	background-color: #417690;
	display: flex;
	align-items: center;
	margin-left: 0.1vw;
	margin-right: 0.1vw;
	
}

.navbar a{
	color :white;
	text-decoration: none;
}

.navbutton {
	padding-left:0.5vw;
	font-size: 20px;
}



/* MAIN ITEMS */
/* HOME PAGE */
.container_home{
	display: flex;
	flex-direction: row;
	font-size: 14px;


}


.container_left_home{
	margin-top: 10px;
	margin-left: 0.1vw;
	height: 100vh;
	width: 550px;
	background-color: #F0FFFF;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: #417690;
	border-size: 1px;
	


}


.container_left_home hr{
	

	width: 90%;
	color : #417690;
	


}


.container_left_home .nume{
	
	height: 30px ;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	

}


.container_left_home .zona{
	
	height: 30px ;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	

}



.container_right{
	width: 100%;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 0.1vw;
}

.row_title{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: cleft;
	color: white;
	background-color: #417690;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
}




.row{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F0FFFF;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
}

.row a{
	color : black;
}

.row_footer{
	width: 100%;
}

.column_id{
	width:10%;
}

.column_nume{
	width:20%;
}

.column_proiect_id{
	width:10%;
}

.column_descriere{
	width:40%;
}


.column_evenimente{
	width:10%;
}


.row_footer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	background-color: #417690 ;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.row_footer a{
	color : white
}


hr{
	color: #417690;
}





/* DETALII PROJECT PAGE */

.container_detalii{
	display: flex;
	flex-direction: row;
	font-size: 14px;

}


.container_left_detalii{
	margin-top: 10px;
	margin-left: 0.1vw;
	height: 100vh;
	width: 550px;
	background-color: #F0FFFF;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: #417690;
	border-size: 1px;


}


.container_left_detalii hr{
	

	width: 90%;
	color: #417690;
	


}


.container_left_detalii .nume{
	
	height: 30px ;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	

}


.container_left_detalii .ID{
	
	height: 30px ;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	

}

.container_left_detalii .descriere{
	margin-bottom: 5px;
	height: 30px ;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	

}



.container_right_detalii{
	width: 100%;
	margin-top: 10px;
	padding-left: 10px; 
	padding-right: 0.1vw; 

}



.row_title_detalii{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	color: white;
	background-color: #417690;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
}




.row_detalii{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F0FFFF;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;

}

.row_detalii a{
	color: black;
}

.row_footer_detalii{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	background-color: #417690 ;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.column_id_ev{
	width:20%;

}

.column_nume_ev{
	width:20%;
}

.column_recurenta_zile_ev{
	width:20%;
}

.column_status_ev{
	width:20%;
}


.column_evenimente_ev{
	width:20%;
}


.row_footer_detalii{
	margin-bottom:80px;
	width: 100%;
}

.row_footer_detalii a{
	color : white
}





/* PROIECT NOU  */







.container_proiect_nou{
	display: flex;
	flex-direction: row;
	font-size: 14px;

}


.container_left_proiect_nou{
	
	margin-top: 10px;
	margin-left: 0.1vw;
	height: 100vh;
	width: 550px;
	background-color: #F0FFFF;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: #417690;
	border-size: 1px;


}



.container_left_proiect_nou hr{
	

	width: 90%;
	color: #417690;
	


}

.container_left_proiect_nou .nume{
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
}




.container_right_proiect_nou{
	width: 100%;
	margin-top: 10px;
	padding-left: 10px; 
	display: flex;
	justify-content: center;
}


.proiect_nou_form{
	margin-top: 20px;
	width: 60%;
	height: 180px;
	margin-top: 10px;
	

	background-color: #F0FFFF;
	border: solid;
	border-color: #417690;
	border-width: 0.1;






}


.title_form{
	background-color: #417690;
	width: 100%;
	display: flex;
	justify-content:left;
	align-items: center;
	color: white;
	margin-bottom: 10px;
}




.form_row{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;



}


.form_col_label{
	width: 50%;
	padding-left: 1%;
	display: flex;
	justify-content:left;
	align-items: center;
	
}

.form_col_value{
	width: 50%;

	display: flex;
	justify-content:left;
	align-items: center;
}


.form_col_value input{
	width: 80%;
	border-color:  #417690;

}


.proiect_nou_form hr{
	width: 98%;




}

.btn_form{

	width: 20%;
	height: 30px;
	border-color: #417690;
}





/* PAGINATOR  */

.pagination{
	margin-top: 15px;


}

.pagination a{
	color: black;
}




}





  
@media screen and (max-width: 600px) {
	


        }

