
/* GENERAL SETTINGS */


body{
	background-color: #F8F8FF;
}









/* NORMAL DISPLAYS  COMPUTER*/ 


@media screen and (min-width: 800px) {



/* NAVBAR SETTINGS */

.navbar{
	height: 50px;
	background-color: #417690;
	display: flex;
	align-items: center;
	margin-left: 0.1vw;
	margin-right: 0.1vw;
	
}

.navbar_left{
	width: 50%;
	height: 100%;

	display: flex;
	align-items: center;

	
}


.navbar_right{
	width: 50%;
	height: 100%;
	
	display: flex;
	justify-content: right;
	align-items: center;


	
}


.navbar a{
	color :white;
	text-decoration: none;





}

.navbutton {
	padding-left:0.5vw;
	font-size: 20px;
}


.navbutton_right {
	padding-right:0.5vw;
	font-size: 20px;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;a
}




/* MAIN ITEMS */
/* HOME PAGE */
.container_home{
	display: flex;
	flex-direction: row;
	font-size: 14px;


}


.container_left_home{
	margin-top: 10px;
	margin-left: 0.1vw;
	height: 100%;
	width: 550px;
	background-color: #F0FFFF;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: #417690;
	border-size: 1px;
	


}


.container_left_home hr{
	

	width: 90%;
	color : #417690;
	


}


.container_left_home .nume{
	
	height: 30px ;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	

}


.container_left_home .zona{
	
	height: 30px ;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	

}


/* COLLAPSING BUTTON - FOR EVERY PROJECT */


.task{
	margin-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;

}

 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #417690;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

  
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}


.finalizeaza_buton{
	height: 30px;
	width: 100%;
}

.finalizeaza_buton a{
	color: black;
	text-decoration: None;
}



.container_right{
	width: 100%;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 0.1vw;
}

.row_title{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: cleft;
	color: white;
	background-color: #417690;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
}




.row{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F0FFFF;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
}

.row a{
	color : black;
}

.row_footer{
	width: 100%;
}

.column_id{
	width:10%;
}

.column_nume{
	width:20%;
}

.column_proiect_id{
	width:10%;
}

.column_descriere{
	width:40%;
}


.column_evenimente{
	width:10%;
}


.row_footer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	background-color: #417690 ;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.row_footer a{
	color : white
}


hr{
	color: #417690;
}






/* DETALII PROJECT PAGE */

.container_detalii{
	display: flex;
	flex-direction: row;
	font-size: 14px;

}


.container_left_detalii{
	margin-top: 10px;
	margin-left: 0.1vw;
	height: 100vh;
	width: 550px;
	background-color: #F0FFFF;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: #417690;
	border-size: 1px;


}


.container_left_detalii hr{
	

	width: 90%;
	color: #417690;
	


}


.container_left_detalii .nume{
	
	height: 30px ;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	

}


.container_left_detalii .ID{
	
	height: 30px ;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	

}

.container_left_detalii .descriere{
	margin-bottom: 5px;
	height: 30px ;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	

}



.container_right_detalii{
	width: 100%;
	margin-top: 10px;
	padding-left: 10px; 
	padding-right: 0.1vw; 

}



.row_title_detalii{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	color: white;
	background-color: #417690;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
}




.row_detalii{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F0FFFF;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;

}

.row_detalii a{
	color: black;
}

.row_footer_detalii{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	background-color: #417690 ;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.column_id_ev{
	width:20%;

}

.column_nume_ev{
	width:20%;
}

.column_recurenta_zile_ev{
	width:20%;
}

.column_status_ev{
	width:20%;
}


.column_evenimente_ev{
	width:20%;
}


.row_footer_detalii{
	margin-bottom:80px;
	width: 100%;
}

.row_footer_detalii a{
	color : white
}





/* PROIECT NOU  */







.container_proiect_nou{
	display: flex;
	flex-direction: row;
	font-size: 14px;

}


.container_left_proiect_nou{
	
	margin-top: 10px;
	margin-left: 0.1vw;
	height: 100vh;
	width: 550px;
	background-color: #F0FFFF;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: #417690;
	border-size: 1px;


}



.container_left_proiect_nou hr{
	

	width: 90%;
	color: #417690;
	


}

.container_left_proiect_nou .nume{
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
}




.container_right_proiect_nou{
	width: 100%;
	margin-top: 10px;
	padding-left: 10px; 
	display: flex;
	justify-content: center;
}


.proiect_nou_form{
	margin-top: 20px;
	width: 60%;
	height: 180px;
	margin-top: 10px;
	

	background-color: #F0FFFF;
	border: solid;
	border-color: #417690;
	border-width: 0.1;






}


.title_form{
	background-color: #417690;
	width: 100%;
	display: flex;
	justify-content:left;
	align-items: center;
	color: white;
	margin-bottom: 10px;
}




.form_row{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;



}


.form_col_label{
	width: 50%;
	padding-left: 1%;
	display: flex;
	justify-content:left;
	align-items: center;
	
}

.form_col_value{
	width: 50%;

	display: flex;
	justify-content:left;
	align-items: center;
}


.form_col_value input{
	width: 80%;
	border-color:  #417690;

}


.proiect_nou_form hr{
	width: 98%;




}

.btn_form{

	width: 20%;
	height: 30px;
	border-color: #417690;
}





/* PAGINATOR  */

.pagination{
	margin-top: 15px;


}

.pagination a{
	color: black;
}




}





  
@media screen and (max-width: 600px) {
	


        }

