/* GENERAL SETTINGS */



/* GENERAL SETTINGS */


body{
	background-color: #F8F8FF;
}









/* NORMAL DISPLAYS  COMPUTER*/ 


@media screen and (min-width: 800px) {



/* NAVBAR SETTINGS */

.navbar{
	height: 50px;
	background-color: #417690;
	display: flex;
	align-items: center;
	margin-left: 0.1vw;
	margin-right: 0.1vw;
	
}

.navbar a{
	color :white;
	text-decoration: none;
}

.navbutton {
	padding-left:0.5vw;
	font-size: 20px;
}



/* MAIN ITEMS */
/* LOGIN PAGE */
.container_login{
	display: flex;
	flex-direction: column;
	font-size: 16px;
	justify-content: center;
    align-items: center;
    
}




.container_login  .login_form{
	margin-top: 80px;
	width: 30%;
	height: 160px;	

	background-color: #F0FFFF;
	border: solid;
	border-color: #417690;
	border-width: 0.1;

}

.row_title{
	background-color: #417690;
	width: 100%;
	display: flex;
	justify-content:left;
	
	color: white;
	margin-bottom: 10px;
}






.form_row{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;


}

.form_col_label{
	width: 50%;
	padding-left: 1%;
	display: flex;
	justify-content:left;
	align-items: center;
	
}

.form_col_value{
	width: 50%;

	display: flex;
	justify-content:left;
	align-items: center;
}


.form_col_value input{
	width: 80%;
	border-color:  #417690;

}


.login_form hr{
	width: 98%;
	color:  #417690



}

.btn_form{

	width: 20%;
	height: 30px;
	border-color: #417690;
}






/* MAIN ITEMS */
/* REGISTER PAGE */





.container_register{
	display: flex;
	flex-direction: column;
	font-size: 16px;
	justify-content: center;
    align-items: center;
    
}




.container_register  .register_form{
	margin-top: 80px;
	width: 30%;
	height: 280px;	

	background-color: #F0FFFF;
	border: solid;
	border-color: #417690;
	border-width: 0.1;

}

.row_title{
	background-color: #417690;
	width: 100%;
	display: flex;
	justify-content:left;
	
	color: white;
	margin-bottom: 10px;
}






.form_row{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;


}

.form_col_label{
	width: 50%;
	padding-left: 1%;
	display: flex;
	justify-content:left;
	align-items: center;
	
}

.form_col_value{
	width: 50%;

	display: flex;
	justify-content:left;
	align-items: center;
}


.form_col_value input{
	width: 80%;
	border-color:  #417690;

}


.register_form hr{
	width: 98%;
	color:  #417690



}

.btn_form{

	width: 20%;
	height: 30px;
	border-color: #417690;
}


  
@media screen and (max-width: 600px) {
	


        }
