/* GENERAL SETTINGS */


body{
	background-color: #F8F8FF;
}









/* NORMAL DISPLAYS  COMPUTER */ 


@media screen and (min-width: 800px) {



/* NAVBAR SETTINGS */

.navbar{
	height: 50px;
	background-color: #417690;
	display: flex;
	align-items: center;
	margin-left: 0.1vw;
	margin-right: 0.1vw;
	
}

.navbar a{
	color :white;
	text-decoration: none;
}

.navbutton {
	padding-left:0.5vw;
	font-size: 20px;
}





/* SARCINA NOUA  */



.container_sarcina_noua{
	display: flex;
	flex-direction: row;
	font-size: 16px;

}


.container_left_sarcina_noua{
	
	margin-left: 0.1vw;
	height: 100vh;
	width: 450px;
	background-color: grey;
	display: flex;
	flex-direction: column;
	



}

.container_left_sarcina_noua .nume{
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.container_right_sarcina_noua{
	
	width: 100%;
	margin-top: 10px;
	padding-left: 10px; 
	display: flex;
	justify-content: center;



}


.sarcina_form_1{
	margin-top: 20px;
	width: 100%;
	margin-top: 10px;
	padding-left: 10px; 
	display: flex;
	justify-content: center;



}

.form_row{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;


}

.form_col{
	width: 50%;
	display: flex;
	justify-content:left;
	align-items: center;
}




}

.form_col input{
	display: flex;
	justify-content:center;
	align-items: center;
    width: 100%;
}



/* DETALII EVENIMENT TEMPLATE  */



.container_detalii_eveniment{
	display: flex;
	flex-direction: row;
	font-size: 14px;

}


.container_left_detalii_eveniment{
	
	margin-top: 5px;
	margin-left: 0.1vw;
	height: 100vh;
	width: 550px;
	background-color: #F0FFFF;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: #417690;
	border-size: 1px;

}

.container_left_detalii_eveniment hr{
	
	width: 90%;
	color : #417690;

}




.container_left_detalii_eveniment .nume{
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}



.container_left_detalii_eveniment .row{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	margin-left: 5px;


}

.container_left_detalii_eveniment .row .col_nume{
	width: 35%;
	display: flex;
	justify-content:left;
	align-items: center;
	padding-left: 5px;
}


.container_left_detalii_eveniment .row .col_nume_val{
	width: 65%;
	display: flex;
	justify-content:left;
	align-items: center;
}


.container_left_detalii_eveniment hr{
	

	width: 90%;

	


}


.container_right_detalii_eveniment{
	
	width: 100%;
	margin-top: 10px;
	padding-left: 10px; 



}


.container_right_detalii_eveniment .row_h{

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	color: white;
	background-color: #417690;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;



}


.col_nume{
	width:16.5%;

}
.col_Id{
	width:16.5%;

}
.col_responsabil{
	width:16.5%;

}

.col_data_initiere{
	width:16.5%;

}
.col_data_finalizare{
	width:16.5%;

}
.col_status{
	width:16.5%;

}



.container_right_detalii_eveniment .row{
	
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F0FFFF;
	border-style: solid;
	border-color: #417690 ;
	border-width: 1px;
	padding-top: 5px;
}

.col_nume_val{
	width:16.5%;

}
.col_Id_val{
	width:16.5%;
}

.col_responsabil_val{
	width:16.5%;

}

.col_data_initiere_val{
	width:16.5%;

}
.col_data_finalizare_val{
	width:16.5%;

}
.col_status_val{
	width:16.5%;

}



	


/* PAGINATOR  */
.pagination{
	margin-top: 15px;

}

  
@media screen and (max-width: 600px) {
	


        }