{% extends 'EVENTS/template.html' %}


{% block content %}




<div class="container_detalii_eveniment">


<div class="container_left_detalii_eveniment">

    
    <div class="nume">Eveniment: {{eveniment.nume}}</div>


    	<div class="row">
			<div class="col_nume">Nume : </div>
			<div class="col_nume_val">{{eveniment.nume}}</div>

		</div> 
		<hr/>


		<div class="row">
			<div class="col_nume">Proiect : </div>
			<div class="col_nume_val">{{eveniment.proiect}}</div>

		</div> 
		<hr/>
		<div class="row">
			<div class="col_nume">Activitati : </div>
			<div class="col_nume_val">{{eveniment.activitati_necesare}}</div>

		</div> 
		<hr/>

		<div class="row">
			<div class="col_nume">Recurenta : </div>
			<div class="col_nume_val">{{eveniment.recurenenta}}</div>

		</div> 
		<hr/>
		<div class="row">
			<div class="col_nume">Recurenta Zile : </div>
			<div class="col_nume_val">{{eveniment.recurenenta_zile}}</div>

		</div> 
		<hr/>
		<div class="row">
			<div class="col_nume">Termen Executie : </div>
			<div class="col_nume_val">{{eveniment.zile_executie}}</div>

		</div> 
		<hr/>

		<div class="row">
			<div class="col_nume">Data Initiere: </div>
			<div class="col_nume_val">{{eveniment.data_initiere}}</div>

		</div> 
		<hr/>

		<div class="row">
			<div class="col_nume">Status: </div>
			<div class="col_nume_val">{{eveniment.status}}</div>

		</div> 		
		<hr/>


</div>






<div class="container_right_detalii_eveniment">






        <div class="row_h">
        	Istoric Evenimente 
        </div>

        <div class="row">
        	<div class="col_nume">
                Nume
            </div>
            <div class="col_Id">
                Id
            </div>
            <div class="col_responsabil">
                Responsabil
            </div>

            <div class="col_data_initiere">
                Data Initiere
            </div>
            <div class="col_data_finalizare">
                Data Finalizare
            </div>
            <div class="col_status">
                Status
            </div>

        </div>



{% for eveniment in evenimente_instance %}
        <div class="row">
            
            <div class="col_nume_val">{{eveniment.eveniment_template}} </div>


            <div class="col_Id_val">{{eveniment.pk}}</div>

            <div class="col_responsabil_val">{{eveniment.responsabil}}</div>

           

            <div class="col_data_initiere_val">{{eveniment.data_initiere}}</div>


            <div class="col_data_finalizare_val">{{eveniment.data_finalizare}}</div>

            {% if eveniment.status == 0 %}
            <div class="col_status_val">Nefinalizat</div>
            {% else %}
            <div class="col_status_val">Finalizat</div>
            {% endif %}            


        </div>
   
{% endfor %}        












<div class="pagination">
    <span class="step-links">
        {% if evenimente_instance.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ evenimente_instance.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ evenimente_instance.number }} of {{ evenimente_instance.paginator.num_pages }}.
        </span>

        {% if evenimente_instance.has_next %}
            <a href="?page={{ evenimente_instance.next_page_number }}">next</a>
            <a href="?page={{ evenimente_instance.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>		



</div>






{% endblock %}



