{% extends 'EVENTS/template.html' %}


{% block content %}


<div class="container_events_page">
	<div class="nume">Evenimente: {{proiect.nume}}</div>


</div>

	<div class="container_home">


		<div class="row">
			
			<div class="column_nume">Nume Eveniment</div>
			<div class="column_recurenta">Recurenta </div>
			<div class="column_evenimente">Detalii</div>
	</div> 
	<hr/>
	{% for eveniment in eveniment_template%}

	<div class="row">
			
			<div class="column_nume">{{eveniment.nume}}</div>
			<div class="column_recurenta">{{eveniment.recurenenta}} </div>
			<div class="column_evenimente"><button class="button_3" ><a href="{% url 'EVENTS:detalii_eveniment_template' eveniment.pk %}" >DETALII</a></button></div>
	</div> 
	<hr/>
	{% endfor %}


	</div>



	<div class="container_home_bottom">


	<button class="button_adauga_eveniment_template" ><a href="{% url 'EVENTS:eveniment_template_nou' proiect.pk %}">Adauga Eveniment</a></button>
	
	</div>

{% endblock %}

