{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<link href="{% static 'css/EVENTS/style.css' %}" rel="stylesheet" type="text/css"> 

</head>
<body>


	<div class="navbar">
		<div class="navbar_left">
			<a class="navbutton" href="{% url 'PROJECTS:projects_home' %}">SchedullingApp</a>
		</div>
		<div class="navbar_right">
			  	<div class="dropdown">
  					<a class="navbutton" href="{% url 'ACCOUNTS:logout' %}">Delogare</a>
 
  				</div> 
		</div>
	</div>


	{% block content %}
	{% endblock %}

</body>
</html>